<style  type="text/css" >
    #T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow17_col1 {
            background-color:  lightgreen;
            background-color:  lightgreen;
        }</style><table id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3c" ><thead>    <tr>        <th class="blank level0" ></th>        <th class="col_heading level0 col0" >Description</th>        <th class="col_heading level0 col1" >Value</th>    </tr></thead><tbody>
                <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row0" class="row_heading level0 row0" >0</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow0_col0" class="data row0 col0" >session_id</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow0_col1" class="data row0 col1" >123</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row1" class="row_heading level0 row1" >1</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow1_col0" class="data row1 col0" >Target</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow1_col1" class="data row1 col1" >quality</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row2" class="row_heading level0 row2" >2</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow2_col0" class="data row2 col0" >Original Data</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow2_col1" class="data row2 col1" >(1599, 12)</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row3" class="row_heading level0 row3" >3</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow3_col0" class="data row3 col0" >Missing Values</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow3_col1" class="data row3 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row4" class="row_heading level0 row4" >4</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow4_col0" class="data row4 col0" >Numeric Features</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow4_col1" class="data row4 col1" >11</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row5" class="row_heading level0 row5" >5</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow5_col0" class="data row5 col0" >Categorical Features</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow5_col1" class="data row5 col1" >0</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row6" class="row_heading level0 row6" >6</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow6_col0" class="data row6 col0" >Ordinal Features</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow6_col1" class="data row6 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row7" class="row_heading level0 row7" >7</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow7_col0" class="data row7 col0" >High Cardinality Features</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow7_col1" class="data row7 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row8" class="row_heading level0 row8" >8</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow8_col0" class="data row8 col0" >High Cardinality Method</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow8_col1" class="data row8 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row9" class="row_heading level0 row9" >9</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow9_col0" class="data row9 col0" >Transformed Train Set</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow9_col1" class="data row9 col1" >(1279, 11)</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row10" class="row_heading level0 row10" >10</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow10_col0" class="data row10 col0" >Transformed Test Set</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow10_col1" class="data row10 col1" >(320, 11)</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row11" class="row_heading level0 row11" >11</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow11_col0" class="data row11 col0" >Shuffle Train-Test</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow11_col1" class="data row11 col1" >True</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row12" class="row_heading level0 row12" >12</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow12_col0" class="data row12 col0" >Stratify Train-Test</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow12_col1" class="data row12 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row13" class="row_heading level0 row13" >13</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow13_col0" class="data row13 col0" >Fold Generator</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow13_col1" class="data row13 col1" >KFold</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row14" class="row_heading level0 row14" >14</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow14_col0" class="data row14 col0" >Fold Number</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow14_col1" class="data row14 col1" >2</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row15" class="row_heading level0 row15" >15</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow15_col0" class="data row15 col0" >CPU Jobs</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow15_col1" class="data row15 col1" >-1</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row16" class="row_heading level0 row16" >16</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow16_col0" class="data row16 col0" >Use GPU</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow16_col1" class="data row16 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row17" class="row_heading level0 row17" >17</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow17_col0" class="data row17 col0" >Log Experiment</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow17_col1" class="data row17 col1" >True</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row18" class="row_heading level0 row18" >18</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow18_col0" class="data row18 col0" >Experiment Name</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow18_col1" class="data row18 col1" >wine2</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row19" class="row_heading level0 row19" >19</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow19_col0" class="data row19 col0" >USI</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow19_col1" class="data row19 col1" >3336</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row20" class="row_heading level0 row20" >20</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow20_col0" class="data row20 col0" >Imputation Type</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow20_col1" class="data row20 col1" >simple</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row21" class="row_heading level0 row21" >21</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow21_col0" class="data row21 col0" >Iterative Imputation Iteration</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow21_col1" class="data row21 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row22" class="row_heading level0 row22" >22</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow22_col0" class="data row22 col0" >Numeric Imputer</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow22_col1" class="data row22 col1" >mean</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row23" class="row_heading level0 row23" >23</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow23_col0" class="data row23 col0" >Iterative Imputation Numeric Model</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow23_col1" class="data row23 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row24" class="row_heading level0 row24" >24</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow24_col0" class="data row24 col0" >Categorical Imputer</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow24_col1" class="data row24 col1" >constant</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row25" class="row_heading level0 row25" >25</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow25_col0" class="data row25 col0" >Iterative Imputation Categorical Model</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow25_col1" class="data row25 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row26" class="row_heading level0 row26" >26</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow26_col0" class="data row26 col0" >Unknown Categoricals Handling</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow26_col1" class="data row26 col1" >least_frequent</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row27" class="row_heading level0 row27" >27</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow27_col0" class="data row27 col0" >Normalize</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow27_col1" class="data row27 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row28" class="row_heading level0 row28" >28</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow28_col0" class="data row28 col0" >Normalize Method</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow28_col1" class="data row28 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row29" class="row_heading level0 row29" >29</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow29_col0" class="data row29 col0" >Transformation</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow29_col1" class="data row29 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row30" class="row_heading level0 row30" >30</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow30_col0" class="data row30 col0" >Transformation Method</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow30_col1" class="data row30 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row31" class="row_heading level0 row31" >31</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow31_col0" class="data row31 col0" >PCA</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow31_col1" class="data row31 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row32" class="row_heading level0 row32" >32</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow32_col0" class="data row32 col0" >PCA Method</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow32_col1" class="data row32 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row33" class="row_heading level0 row33" >33</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow33_col0" class="data row33 col0" >PCA Components</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow33_col1" class="data row33 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row34" class="row_heading level0 row34" >34</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow34_col0" class="data row34 col0" >Ignore Low Variance</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow34_col1" class="data row34 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row35" class="row_heading level0 row35" >35</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow35_col0" class="data row35 col0" >Combine Rare Levels</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow35_col1" class="data row35 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row36" class="row_heading level0 row36" >36</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow36_col0" class="data row36 col0" >Rare Level Threshold</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow36_col1" class="data row36 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row37" class="row_heading level0 row37" >37</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow37_col0" class="data row37 col0" >Numeric Binning</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow37_col1" class="data row37 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row38" class="row_heading level0 row38" >38</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow38_col0" class="data row38 col0" >Remove Outliers</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow38_col1" class="data row38 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row39" class="row_heading level0 row39" >39</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow39_col0" class="data row39 col0" >Outliers Threshold</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow39_col1" class="data row39 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row40" class="row_heading level0 row40" >40</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow40_col0" class="data row40 col0" >Remove Multicollinearity</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow40_col1" class="data row40 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row41" class="row_heading level0 row41" >41</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow41_col0" class="data row41 col0" >Multicollinearity Threshold</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow41_col1" class="data row41 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row42" class="row_heading level0 row42" >42</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow42_col0" class="data row42 col0" >Clustering</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow42_col1" class="data row42 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row43" class="row_heading level0 row43" >43</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow43_col0" class="data row43 col0" >Clustering Iteration</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow43_col1" class="data row43 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row44" class="row_heading level0 row44" >44</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow44_col0" class="data row44 col0" >Polynomial Features</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow44_col1" class="data row44 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row45" class="row_heading level0 row45" >45</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow45_col0" class="data row45 col0" >Polynomial Degree</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow45_col1" class="data row45 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row46" class="row_heading level0 row46" >46</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow46_col0" class="data row46 col0" >Trignometry Features</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow46_col1" class="data row46 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row47" class="row_heading level0 row47" >47</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow47_col0" class="data row47 col0" >Polynomial Threshold</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow47_col1" class="data row47 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row48" class="row_heading level0 row48" >48</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow48_col0" class="data row48 col0" >Group Features</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow48_col1" class="data row48 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row49" class="row_heading level0 row49" >49</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow49_col0" class="data row49 col0" >Feature Selection</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow49_col1" class="data row49 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row50" class="row_heading level0 row50" >50</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow50_col0" class="data row50 col0" >Features Selection Threshold</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow50_col1" class="data row50 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row51" class="row_heading level0 row51" >51</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow51_col0" class="data row51 col0" >Feature Interaction</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow51_col1" class="data row51 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row52" class="row_heading level0 row52" >52</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow52_col0" class="data row52 col0" >Feature Ratio</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow52_col1" class="data row52 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row53" class="row_heading level0 row53" >53</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow53_col0" class="data row53 col0" >Interaction Threshold</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow53_col1" class="data row53 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row54" class="row_heading level0 row54" >54</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow54_col0" class="data row54 col0" >Transform Target</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow54_col1" class="data row54 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3clevel0_row55" class="row_heading level0 row55" >55</th>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow55_col0" class="data row55 col0" >Transform Target Method</td>
                        <td id="T_0fab5f3c_b5e3_11eb_89c9_8c859067ec3crow55_col1" class="data row55 col1" >box-cox</td>
            </tr>
    </tbody></table>