{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <h2 class="border-bottom py-2">Hello, Digital Lab :)</h2>
    <p>  </p><br>
    <h5>Please let us know <b>USER ID</b></h5>
        <form method="POST" action="{{ url_for('compare.test') }}">
            <input type="text" name="user_id" id="user_id" placeholder="USER ID (0~33631)">
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    <div>
        <p>
            {% if user_id == None %} 
            <br>
            <br>
            <h5>The most popular items we have </h5>
            <table class="table">
                <tbody>
                {% for pop in popular_list %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ pop.item_title }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            {% else %}
            <br>
            <br>
            <h5 class="border-bottom my-3 py-2">Recommended for ID:{{ user_id }} <small> [{{ history.user_name }}]</h5>
                <div class="container my-3">
                    <br>
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="border-bottom my-3 py-2">D.Lab - CF</h5>
                            <div class="col col-rows-10">
                            {% for reco in reco_list %}  
                                {% if reco.is_intersection == 1 %}
                                    <div class="card border-primary mb-3">
                                    <div class="card-body"><h5 class="card-title"><small>{{ reco.item_title }}</small></h5></div>
                                    <div class="d-flex justify-content-end"></div></div><br>
                                {% else %}
                                    <div class="card">
                                    <div class="card-body"><h5 class="card-title"><small>{{ reco.item_title }}</small></h5></div>
                                    <div class="d-flex justify-content-end"></div></div><br>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                        <div class="col-sm">
                            <h5 class="border-bottom my-3 py-2">AWS personalize</h5>
                            <div class="col col-rows-10">
                            {% for aws in aws_list %}
                                {% if aws.is_intersection == 1 %}
                                    <div class="card border-primary mb-3">
                                    <div class="card-body"><h5 class="card-title"><small>{{ aws.item_title }}</small></h5></div>
                                    <div class="d-flex justify-content-end"></div></div><br>
                                {% else %}
                                    <div class="card">
                                    <div class="card-body"><h5 class="card-title"><small>{{ aws.item_title }}</small></h5></div>
                                    <div class="d-flex justify-content-end"></div></div><br>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                        <div class="col-sm">
                            <h5 class="border-bottom my-3 py-2">Recently viewed</h5>
                            <div class="col col-rows-10">
                            {% for obj in data_list %}
                                <div class="card">
                                <div class="card-body"><h5 class="card-title"><small>{{ obj.item_title }}</small></h5></div>
                                <div class="d-flex justify-content-end"></div></div><br>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            <br>
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}
