<style  type="text/css" >
#T_e6420_row17_col1,#T_e6420_row37_col1,#T_e6420_row46_col1,#T_e6420_row48_col1,#T_e6420_row52_col1,#T_e6420_row53_col1{
            background-color:  lightgreen;
            background-color:  lightgreen;
        }</style><table id="T_e6420_" ><thead>    <tr>        <th class="blank level0" ></th>        <th class="col_heading level0 col0" >Description</th>        <th class="col_heading level0 col1" >Value</th>    </tr></thead><tbody>
                <tr>
                        <th id="T_e6420_level0_row0" class="row_heading level0 row0" >0</th>
                        <td id="T_e6420_row0_col0" class="data row0 col0" >session_id</td>
                        <td id="T_e6420_row0_col1" class="data row0 col1" >123</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row1" class="row_heading level0 row1" >1</th>
                        <td id="T_e6420_row1_col0" class="data row1 col0" >Target</td>
                        <td id="T_e6420_row1_col1" class="data row1 col1" >quality</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row2" class="row_heading level0 row2" >2</th>
                        <td id="T_e6420_row2_col0" class="data row2 col0" >Original Data</td>
                        <td id="T_e6420_row2_col1" class="data row2 col1" >(1599, 12)</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row3" class="row_heading level0 row3" >3</th>
                        <td id="T_e6420_row3_col0" class="data row3 col0" >Missing Values</td>
                        <td id="T_e6420_row3_col1" class="data row3 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row4" class="row_heading level0 row4" >4</th>
                        <td id="T_e6420_row4_col0" class="data row4 col0" >Numeric Features</td>
                        <td id="T_e6420_row4_col1" class="data row4 col1" >11</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row5" class="row_heading level0 row5" >5</th>
                        <td id="T_e6420_row5_col0" class="data row5 col0" >Categorical Features</td>
                        <td id="T_e6420_row5_col1" class="data row5 col1" >0</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row6" class="row_heading level0 row6" >6</th>
                        <td id="T_e6420_row6_col0" class="data row6 col0" >Ordinal Features</td>
                        <td id="T_e6420_row6_col1" class="data row6 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row7" class="row_heading level0 row7" >7</th>
                        <td id="T_e6420_row7_col0" class="data row7 col0" >High Cardinality Features</td>
                        <td id="T_e6420_row7_col1" class="data row7 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row8" class="row_heading level0 row8" >8</th>
                        <td id="T_e6420_row8_col0" class="data row8 col0" >High Cardinality Method</td>
                        <td id="T_e6420_row8_col1" class="data row8 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row9" class="row_heading level0 row9" >9</th>
                        <td id="T_e6420_row9_col0" class="data row9 col0" >Transformed Train Set</td>
                        <td id="T_e6420_row9_col1" class="data row9 col1" >(1279, 40)</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row10" class="row_heading level0 row10" >10</th>
                        <td id="T_e6420_row10_col0" class="data row10 col0" >Transformed Test Set</td>
                        <td id="T_e6420_row10_col1" class="data row10 col1" >(320, 40)</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row11" class="row_heading level0 row11" >11</th>
                        <td id="T_e6420_row11_col0" class="data row11 col0" >Shuffle Train-Test</td>
                        <td id="T_e6420_row11_col1" class="data row11 col1" >True</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row12" class="row_heading level0 row12" >12</th>
                        <td id="T_e6420_row12_col0" class="data row12 col0" >Stratify Train-Test</td>
                        <td id="T_e6420_row12_col1" class="data row12 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row13" class="row_heading level0 row13" >13</th>
                        <td id="T_e6420_row13_col0" class="data row13 col0" >Fold Generator</td>
                        <td id="T_e6420_row13_col1" class="data row13 col1" >KFold</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row14" class="row_heading level0 row14" >14</th>
                        <td id="T_e6420_row14_col0" class="data row14 col0" >Fold Number</td>
                        <td id="T_e6420_row14_col1" class="data row14 col1" >2</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row15" class="row_heading level0 row15" >15</th>
                        <td id="T_e6420_row15_col0" class="data row15 col0" >CPU Jobs</td>
                        <td id="T_e6420_row15_col1" class="data row15 col1" >-1</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row16" class="row_heading level0 row16" >16</th>
                        <td id="T_e6420_row16_col0" class="data row16 col0" >Use GPU</td>
                        <td id="T_e6420_row16_col1" class="data row16 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row17" class="row_heading level0 row17" >17</th>
                        <td id="T_e6420_row17_col0" class="data row17 col0" >Log Experiment</td>
                        <td id="T_e6420_row17_col1" class="data row17 col1" >True</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row18" class="row_heading level0 row18" >18</th>
                        <td id="T_e6420_row18_col0" class="data row18 col0" >Experiment Name</td>
                        <td id="T_e6420_row18_col1" class="data row18 col1" >wine2</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row19" class="row_heading level0 row19" >19</th>
                        <td id="T_e6420_row19_col0" class="data row19 col0" >USI</td>
                        <td id="T_e6420_row19_col1" class="data row19 col1" >e6ba</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row20" class="row_heading level0 row20" >20</th>
                        <td id="T_e6420_row20_col0" class="data row20 col0" >Imputation Type</td>
                        <td id="T_e6420_row20_col1" class="data row20 col1" >simple</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row21" class="row_heading level0 row21" >21</th>
                        <td id="T_e6420_row21_col0" class="data row21 col0" >Iterative Imputation Iteration</td>
                        <td id="T_e6420_row21_col1" class="data row21 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row22" class="row_heading level0 row22" >22</th>
                        <td id="T_e6420_row22_col0" class="data row22 col0" >Numeric Imputer</td>
                        <td id="T_e6420_row22_col1" class="data row22 col1" >mean</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row23" class="row_heading level0 row23" >23</th>
                        <td id="T_e6420_row23_col0" class="data row23 col0" >Iterative Imputation Numeric Model</td>
                        <td id="T_e6420_row23_col1" class="data row23 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row24" class="row_heading level0 row24" >24</th>
                        <td id="T_e6420_row24_col0" class="data row24 col0" >Categorical Imputer</td>
                        <td id="T_e6420_row24_col1" class="data row24 col1" >constant</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row25" class="row_heading level0 row25" >25</th>
                        <td id="T_e6420_row25_col0" class="data row25 col0" >Iterative Imputation Categorical Model</td>
                        <td id="T_e6420_row25_col1" class="data row25 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row26" class="row_heading level0 row26" >26</th>
                        <td id="T_e6420_row26_col0" class="data row26 col0" >Unknown Categoricals Handling</td>
                        <td id="T_e6420_row26_col1" class="data row26 col1" >least_frequent</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row27" class="row_heading level0 row27" >27</th>
                        <td id="T_e6420_row27_col0" class="data row27 col0" >Normalize</td>
                        <td id="T_e6420_row27_col1" class="data row27 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row28" class="row_heading level0 row28" >28</th>
                        <td id="T_e6420_row28_col0" class="data row28 col0" >Normalize Method</td>
                        <td id="T_e6420_row28_col1" class="data row28 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row29" class="row_heading level0 row29" >29</th>
                        <td id="T_e6420_row29_col0" class="data row29 col0" >Transformation</td>
                        <td id="T_e6420_row29_col1" class="data row29 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row30" class="row_heading level0 row30" >30</th>
                        <td id="T_e6420_row30_col0" class="data row30 col0" >Transformation Method</td>
                        <td id="T_e6420_row30_col1" class="data row30 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row31" class="row_heading level0 row31" >31</th>
                        <td id="T_e6420_row31_col0" class="data row31 col0" >PCA</td>
                        <td id="T_e6420_row31_col1" class="data row31 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row32" class="row_heading level0 row32" >32</th>
                        <td id="T_e6420_row32_col0" class="data row32 col0" >PCA Method</td>
                        <td id="T_e6420_row32_col1" class="data row32 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row33" class="row_heading level0 row33" >33</th>
                        <td id="T_e6420_row33_col0" class="data row33 col0" >PCA Components</td>
                        <td id="T_e6420_row33_col1" class="data row33 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row34" class="row_heading level0 row34" >34</th>
                        <td id="T_e6420_row34_col0" class="data row34 col0" >Ignore Low Variance</td>
                        <td id="T_e6420_row34_col1" class="data row34 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row35" class="row_heading level0 row35" >35</th>
                        <td id="T_e6420_row35_col0" class="data row35 col0" >Combine Rare Levels</td>
                        <td id="T_e6420_row35_col1" class="data row35 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row36" class="row_heading level0 row36" >36</th>
                        <td id="T_e6420_row36_col0" class="data row36 col0" >Rare Level Threshold</td>
                        <td id="T_e6420_row36_col1" class="data row36 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row37" class="row_heading level0 row37" >37</th>
                        <td id="T_e6420_row37_col0" class="data row37 col0" >Numeric Binning</td>
                        <td id="T_e6420_row37_col1" class="data row37 col1" >True</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row38" class="row_heading level0 row38" >38</th>
                        <td id="T_e6420_row38_col0" class="data row38 col0" >Remove Outliers</td>
                        <td id="T_e6420_row38_col1" class="data row38 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row39" class="row_heading level0 row39" >39</th>
                        <td id="T_e6420_row39_col0" class="data row39 col0" >Outliers Threshold</td>
                        <td id="T_e6420_row39_col1" class="data row39 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row40" class="row_heading level0 row40" >40</th>
                        <td id="T_e6420_row40_col0" class="data row40 col0" >Remove Multicollinearity</td>
                        <td id="T_e6420_row40_col1" class="data row40 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row41" class="row_heading level0 row41" >41</th>
                        <td id="T_e6420_row41_col0" class="data row41 col0" >Multicollinearity Threshold</td>
                        <td id="T_e6420_row41_col1" class="data row41 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row42" class="row_heading level0 row42" >42</th>
                        <td id="T_e6420_row42_col0" class="data row42 col0" >Clustering</td>
                        <td id="T_e6420_row42_col1" class="data row42 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row43" class="row_heading level0 row43" >43</th>
                        <td id="T_e6420_row43_col0" class="data row43 col0" >Clustering Iteration</td>
                        <td id="T_e6420_row43_col1" class="data row43 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row44" class="row_heading level0 row44" >44</th>
                        <td id="T_e6420_row44_col0" class="data row44 col0" >Polynomial Features</td>
                        <td id="T_e6420_row44_col1" class="data row44 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row45" class="row_heading level0 row45" >45</th>
                        <td id="T_e6420_row45_col0" class="data row45 col0" >Polynomial Degree</td>
                        <td id="T_e6420_row45_col1" class="data row45 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row46" class="row_heading level0 row46" >46</th>
                        <td id="T_e6420_row46_col0" class="data row46 col0" >Trignometry Features</td>
                        <td id="T_e6420_row46_col1" class="data row46 col1" >True</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row47" class="row_heading level0 row47" >47</th>
                        <td id="T_e6420_row47_col0" class="data row47 col0" >Polynomial Threshold</td>
                        <td id="T_e6420_row47_col1" class="data row47 col1" >0.100000</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row48" class="row_heading level0 row48" >48</th>
                        <td id="T_e6420_row48_col0" class="data row48 col0" >Group Features</td>
                        <td id="T_e6420_row48_col1" class="data row48 col1" >True</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row49" class="row_heading level0 row49" >49</th>
                        <td id="T_e6420_row49_col0" class="data row49 col0" >Feature Selection</td>
                        <td id="T_e6420_row49_col1" class="data row49 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row50" class="row_heading level0 row50" >50</th>
                        <td id="T_e6420_row50_col0" class="data row50 col0" >Feature Selection Method</td>
                        <td id="T_e6420_row50_col1" class="data row50 col1" >classic</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row51" class="row_heading level0 row51" >51</th>
                        <td id="T_e6420_row51_col0" class="data row51 col0" >Features Selection Threshold</td>
                        <td id="T_e6420_row51_col1" class="data row51 col1" >None</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row52" class="row_heading level0 row52" >52</th>
                        <td id="T_e6420_row52_col0" class="data row52 col0" >Feature Interaction</td>
                        <td id="T_e6420_row52_col1" class="data row52 col1" >True</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row53" class="row_heading level0 row53" >53</th>
                        <td id="T_e6420_row53_col0" class="data row53 col0" >Feature Ratio</td>
                        <td id="T_e6420_row53_col1" class="data row53 col1" >True</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row54" class="row_heading level0 row54" >54</th>
                        <td id="T_e6420_row54_col0" class="data row54 col0" >Interaction Threshold</td>
                        <td id="T_e6420_row54_col1" class="data row54 col1" >0.010000</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row55" class="row_heading level0 row55" >55</th>
                        <td id="T_e6420_row55_col0" class="data row55 col0" >Transform Target</td>
                        <td id="T_e6420_row55_col1" class="data row55 col1" >False</td>
            </tr>
            <tr>
                        <th id="T_e6420_level0_row56" class="row_heading level0 row56" >56</th>
                        <td id="T_e6420_row56_col0" class="data row56 col0" >Transform Target Method</td>
                        <td id="T_e6420_row56_col1" class="data row56 col1" >box-cox</td>
            </tr>
    </tbody></table>